---
import Header from "../components/header.astro"
import Button from "../components/button.astro"
import SKLogo from "../components/sklogo.astro"
---

<section id="aboutme" class="px-5">
  <div class="max-w-6xl mx-auto relative">
    <div class="space-y-5 max-w-3xl">
      <Header id={1} title="About me">Who Am I?</Header>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Exercitationem, iste corporis corrupti testestset <a href="">Github</a> explicabo
        omnis voluptates voluptate placeat praesentium, beatae a cumque consequatur
        ratione modi minus molestias non similique.
      </p>
      <Button type="primary">Download CV</Button>
    </div>
    <div
      class="-z-10 absolute -translate-y-1/2 top-1/2 right-1/2 translate-x-1/2 sm:pr-8 sm:right-0 sm:translate-x-0"
    >
      <SKLogo classes="h-80 opacity-25" />
      <div
        class="absolute top-0 left-0 w-2/3 h-full bg-gradient-to-r from-primary to-transparent"
      >
      </div>
    </div>
  </div>
</section>
