---
import Header from "../components/header.astro"
---

<section id="aboutme">
  <Header id={1} title="Who Am I?" subtitle="About me"/>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem,
    iste corporis corrupti explicabo omnis voluptates voluptate placeat
    praesentium, beatae a cumque consequatur ratione modi minus molestias non
    similique.
  </p>
</section>
