---
import Header from "../components/header.astro"
import Icons from "../components/icons.astro"
import ContactForm from "../components/contactform.astro"
---

<section class="px-5 space-y-8 md:px-10">
  <div class="max-w-content mx-auto">
    <Header id={4} title="Contacts" isCentered>Need a Developer?</Header>
  </div>
  <div
    class="max-w-content mx-auto grid gap-4 place-items-center lg:grid-cols-2"
  >
    <div class="space-y-4 flex flex-col justify-between h-full py-4">
      <div>
        <h3 class="text-2xl font-bold">Get in Contact</h3>
        <p>
          Are you in need of a developer for an upcoming project? Or are you
          looking for someone to bring your software/website plans to fruition?
          Get in touch with me and let’s work together to make sure your project
          becomes the way you would want.
        </p>
        <p>
          Get in contact with me through any of the links below or via the
          contact form. Or shoot me a message through email. 
          saku.karttunen@gmail.com
        </p>
      </div>
      <p>
        <a href="mailto:saku.karttunen@gmail.com" target="_blank"
          >saku.karttunen@gmail.com</a
        >
      </p>
      <div class="contact-links flex gap-4 flex-wrap pt-2 [&_svg]:w-10">
        <div class="flex gap-2 items-center">
          <Icons type="github" />
          <a href="https://https://github.com/sakuexe" target="_blank"
            >sakuexe</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <Icons type="instagram" />
          <a href="https://www.instagram.com/saku.karttunen/" target="_blank"
            >@saku.karttunen</a
          >
        </div>
        <div class="flex gap-2 items-center">
          <Icons type="facebook" />
          <a href="https://www.facebook.com/saku.karttunen.1" target="_blank"
            >Saku Karttunen</a
          >
        </div>
      </div>
    </div>
    <ContactForm />
  </div>
</section>
