---
import Header from "../components/header.astro"
import Card from "../components/card.astro"
---

<main id="expertise" class="px-5">
  <Header id={2} title="Expertise" isCentered>What Do I Do?</Header>

  <div class="flex flex-col gap-8 items-center">
    <Card title="Fullstack Web Development" type="web">
      Passion towards Web Development and love to work on both Frontend and
      Backend. Experience working with many different frameworks and languages.
    </Card>

    <Card title="Software Development" type="software">
      Experience with both OOP and Functional Programming. Favorite languages
      include Typescript, Python, C# and Kotlin.
    </Card>

    <Card title="UI/UX Design" type="design">
      Professional background in Graphic Design has built a strong foundation
      for UI/UX Design. Experience with Adobe Software and Figma.
    </Card>
  </div>
</main>

<style>
  #expertise {
    position: relative;
    isolation: isolate;
    background: url("/images/code.png") no-repeat -1rem center;
    background-size: cover;
    /* parallax effect */
    background-attachment: fixed;
    box-shadow: inset 0 0 4rem theme("colors.primary.DEFAULT");
  }

  /* Overlay - makes the background a little darker */
  #expertise::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @apply bg-primary opacity-50;
  }
</style>
