---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
  <header class="font-sans min-h-screen flex flex-col justify-center items-stretch">
    <h1 class="font-bold text-header">Saku Karttunen</h1>
    <p class="text-2xl font-light">Fullstack Developer / ICT Engineering Student / Designer</p>
  </header>
</Layout>
