---
import Layout from "../layouts/Layout.astro"
import AboutMe from "./_aboutme.astro"
import Expertise from "./_expertise.astro"
import Skills from "./_skills.astro"
import Portfolio from "./_portfolio.astro"
import Experience from "./_experience.astro"
import Contacts from "./_contacts.astro"
import Footer from "./_footer.astro"
---

<Layout title="Saku's Portfolio - Welcome">
  <header
    id="hero"
    class="px-5 font-sans min-h-[90vh] flex flex-col justify-center items-stretch md:items-center"
  >
    <h1 class="font-bold text-header drop-shadow-lg">Saku Karttunen</h1>
    <p class="text-2xl drop-shadow-lg mix-blend-difference">
      Fullstack Developer / ICT-Engineering Student / Designer
    </p>
  </header>
  <div class="main-content">
    <AboutMe />
    <Expertise />
    <Skills />
    <Portfolio />
    <Experience />
    <Contacts />
  </div>
</Layout>

<style>
  header#hero {
    background: url("/images/floating-cubes.jpg") no-repeat center center;
    background-size: cover;
    /* parallax effect */
    /* background-attachment: fixed; */
  }
</style>
