---
interface Props {
  id: number
  title: string
  isCentered?: boolean
}

const { id, title, isCentered } = Astro.props
---

<div class={`${isCentered ? "flex flex-col items-center" : ""}`}>
  <div>
    <p><span class="text-secondary">// 0{id} </span>{title}</p>
    <h2 class="text-subheader font-bold font-sans"><slot>Header</slot></h2>
  </div>
</div>
