---
interface Props {
  value: number // in percentage
  index: number
}

const { value, index } = Astro.props
---

<div>
  <div class="flex justify-between">
    <h3 class="font-mono"><slot>Skill title</slot></h3>
    <p>{value}%</p>
  </div>
  <div class="relative">
    <div class="w-full h-2 bg-primary-800 absolute top-0 left-0"></div>
    {
      // alternate between orange and secondary color
      // belive me, I tried to make it nicer looking, but tailwind
      // hates template strings...
      index % 2 === 0 ? (
        <div
          class="h-2 bg-secondary absolute top-0 left-0"
          style={{ width: `${value}%` }}
        />
      ) : (
        <div
          class="h-2 bg-accent absolute top-0 left-0"
          style={{ width: `${value}%` }}
        />
      )
    }
  </div>
</div>
